body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 700px;
}

.header {
  display: flex;
  width: 700px;
  justify-content: space-between;
}

.results {
  width: 700px;
}

button {
  border: 0px;
  font-size: 15px;
}

.add-contact {
  color: blue;
  font-size: 25px;
}

h1 {
  margin: 0px;
}

.temp {
  border-bottom: 1px grey solid;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.temp:hover {
  background-color: #e6eaf2;
}

.contact-key {
  visibility: hidden;
}

.selected {
  min-height: 50px;
  display: flex;
  align-items: center;
}

.form {
  display:flex;
  justify-content: center;
}
.crud-form {
  display: flex;
  flex-direction: column;
