html, body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  width: 500px;
  background-color: transparent;
  background: linear-gradient(to bottom right, white, white 40%, grey) fixed;
}

.header {
  margin-top: 10px;
  display: flex;
  width: inherit;
  justify-content: space-between;
}

button {
  border: 0px;
  font-size: 15px;
  color: blue;
  display: flex;
  align-items: center;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.new-contact {
  font-size: 25px;
}

.delete-btn {
  color: red;
}

.search-bar {
  width: inherit;
  height: 30px;
  border: 1px lightgrey solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search-term {
  width: inherit;
  position: relative;
  left: 5px;
}

.contact {
  border-bottom: 1px grey solid;
  min-height: 50px;
  width: inherit;
  display: flex;
  align-items: center;
}

.contact:hover {
  background: linear-gradient(to top left, white, white 40%, lightgrey);
}

.contact-key {
  visibility: hidden;
}

.name {
  position: relative;
  left: 5px;
}

.selected {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crud-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-title {
  width: inherit;
  display: flex;
  justify-content: center;
}

.body-header {
  width: inherit;
  display: flex;
  justify-content: center;
}

h1 {
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
}

h3 {
  height: 35px;
  margin: 0px;
}

.contact-pic {
  height: 100px;
  width: 100px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  margin: 10px;
}

/* Styling input fields */
input {
  border: 0px;
  font-size: 15px;
  width: 100%;
  height: 25px;
  background: transparent;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: lightgrey;
}

.input-field {
  width: 400px;
  margin-top: 5px;
  color: blue;
  border-bottom: 1px grey solid;
}

.name-field {
  width: 200px;
  border-bottom: 1px grey solid;
}

.spacer {
  height: 15px;
}

.catp, .cate, .cphone, .cemail {
  width: 400px;
  justify-content: flex-start;
}

.catp, .cate {
  color: blue;
  margin-top: 10px;
  white-space: pre-line;
}

.cphone, .cemail {
  min-height: 20px;
  border-bottom: 1px grey solid;
}

.name.last-only {
  left: 20px;
}

.bold {
  font-weight: bold;
}

.results {
  justify-content: center;
  width: inherit;
}
